@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  background-color: black;
}

a,
a:hover {
  color: #00dbb3;
}

h1 {
  border: solid 28px white;
  font-size: 160px;
  font-weight: 700;
  letter-spacing: -5px;
  line-height: 150px;
}

h3 {
  font-size: 2rem;
}

.copyright-copy {
  font-size: 14px;
  position: absolute;
  bottom: 0;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.section {
  align-items: center;
  min-height: 100vh;
  padding: 30px 10px;
  position: relative;
}

@media only screen and (max-width: 992px) {
  h1 {
    border: solid 24px white;
    font-size: 120px;
    line-height: 110px;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    border: solid 20px white;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 70px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    border: solid 16px white;
    font-size: 60px;
    letter-spacing: -3px;
    line-height: 60px;
  }
}
